body {
    margin:0;
    height: 100vh;
    background-color: ghostwhite;
    overflow-y: hidden;
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-break: keep-all;
}

#logoImg {
    position: fixed;
    margin: 0 auto;
    top: 5vh;
    max-height: 5vh;
    left: 0;
    right: 0;
}

#mainImg{
    padding-top: 15vh;
    mix-blend-mode: multiply;
    display: block;
    margin: 0px auto 0 auto;
    z-index: 0;
    animation: motion 0.3s linear 0s infinite alternate;
    animation-play-state: running; 
    max-height: 70vh;
}

@keyframes motion {
	0% {margin-top: 0px;}
	00% {margin-top: 10px;}
}


#popupText{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    color: white;
    background-color: black;
    width: 80vw;
    height: 80vw;
    max-width: 500px;
    max-height: 500px;
    text-align: center;
    box-shadow: 0px 0px 10px 10px rgba(0, 32, 255, 0.1);
}

#PopupContainter{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    opacity: 0%;
}